h1 {
  font-size: 50px;

  font-weight: bold;
}

h2 {
  font: bold 14px sans-serif;
}

body {
  text-align: center;
}

header,
section,
footer,
aside,
nav,
article,
hgroup {
  font-family: Verdana, sans-serif;

  background: #e4ae13;
  display: block;
}

.agrupar {
  width: 1000px;
  background-color: #f6e8c7;
  margin: 25px auto;
  padding: 40px;
}

header {
  background-color: cyan;
}

.cabezera {
  font-family: Arial, sans-serif;

  background-color: #d0170d;
  border: 1px solid black;
}

.cabezera h1 {
  text-align: left;
  padding: 20px;
}

.menu {
  background-color: #e34610;
  padding: 5px 15px;
  text-align: left;
  border: 1px solid black;
  font-family: "Times New Roman", serif;
}

.menu li {
  list-style: none;

  padding: 5px;
  font: bold 14px verdana;
  display: inline-block;
}

.seccion {
  background-color: black;
  margin: 20px;
  width: 58%;
  border: 1px solid black;
  float: left;
}

.seccion p {
  text-align: justify;
}

.columna {
  background-color: black;
  margin: 20px 0px;
  width: 36%;
  border: 1px solid black;
  float: left;
  color: #f6e8c7;
  font-family: cursive;
}

.seccion article {
  background-color: #e4ae13;
  padding: 15px;
  margin: 15px;
  border: 1px solid whitesmoke;
}

.seccion h2 {
  text-align: left;
  background-color: #e4ae13;
}

.seccion footer {
  text-align: left;
  padding: 15px;
  color: brown;
}

.seccion img {
  width: 80px;
  display: block;
  margin: auto;
  padding: 10px;
}

.columna blockquote {
  border: 1px solid black;
  background-color: #121f6d;
  padding: 80px;
  font: bold 14px sans-serif;
}

.pie {
  clear: both;
  padding: 20px;
  background-color: #3fd83f;
  font-family: Georgia, serif;
}
